@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

&nbsp;
<div class="text-center">
    <h1 class="display-4">Важлива інформація :</h1>
    <h3>Дана система обліку товарів була побудована з використанням 
        <a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-8.0">ASP.NET Core MVC</a>.
    </h3>
    <h3>GitHub репозиторій проекту :
        <a href="https://github.com/jxclyde/InventoryTracker">Click🌐</a>
    </h3>
</div>