
@{
    ViewData["Title"] = "Support";
}

&nbsp;
<div class="text-center">
    <h1 class="display-4 text-danger">Важлива інформація! </h1>
    <h2>
        Для вирішення проблеми нашим спеціалістом необхідно надіслати лист з детальним описом та прикладом проблеми :
    </h2>
    <h3>
        <a href="mailto:roman.onushkiv@gmail.com?subject=InventoryTracker%20Technical%20Problems">Надіслати лист</a>
    </h3>
    
    <h3>
        Ми цінуємо Ваш час - наш фахівець відповість найближчим часом!
    </h3>
    <img src="~/Images/supportmeme.jpg" alt="" width="400" height="400" style="border-radius : 10%"/>

    
</div>
