@using InventoryTracker.Models.DomainPeripherals
@model Keyboard	

<form method="post" asp-action="UpdateKeyboard">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Редагувати</h2>
		</div>
		<div asp-validation-summary="All"></div>
		<input type="hidden" asp-for="KeyboardId" />
		<div class="mb-3">
			<label asp-for="Manufacturer"></label>
			<input asp-for="Manufacturer" />
			<span asp-validation-for="Manufacturer" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Model"></label>
			<input asp-for="Model" />
			<span asp-validation-for="Model" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<input asp-for="FormFactor" />
			<label asp-for="FormFactor"></label>
			<span asp-validation-for="FormFactor" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="KeycapType"></label>
			<input asp-for="KeycapType" />
			<span asp-validation-for="KeycapType" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="KeycapMaterial"></label>
			<input asp-for="KeycapMaterial" />
			<span asp-validation-for="KeycapMaterial" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Color"></label>
			<input asp-for="Color" />
			<span asp-validation-for="Color" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Type"></label>
			<input asp-for="Type" />
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Layout"></label>
			<input asp-for="Layout" />
			<span asp-validation-for="Layout" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ConnectionType"></label>
			<input asp-for="ConnectionType" />
			<span asp-validation-for="ConnectionType" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<input asp-for="Price" />
			<label asp-for="Price"></label>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AmountInStock"></label>
			<input asp-for="AmountInStock" />
			<span asp-validation-for="AmountInStock" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Оновити</button>
		<a asp-controller="Peripherals" asp-action="PeripheralsIndex" class="btn btn-secondary" style="width:150px">
			Назад до каталогу
		</a>
	</div>

</form>