@using InventoryTracker.Models.DomainComponents
@model Motherboard

<form method="post" asp-controller="Parts" asp-action="DeleteMotherboardPost" asp-route-id="@Model.MotherboardId">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Item</h2>
		</div>
		<div asp-validation-summary="All"></div>
		<input type="hidden" asp-for="MotherboardId" />
		<div class="mb-3">
			<label asp-for="Manufacturer"></label>
			<input asp-for="Manufacturer" disabled />
			<span asp-validation-for="Manufacturer" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Model"></label>
			<input asp-for="Model" disabled />
			<span asp-validation-for="Model" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<input asp-for="Socket" disabled />
			<label asp-for="Socket"></label>
			<span asp-validation-for="Socket" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="FormFactor"></label>
			<input asp-for="FormFactor" disabled />
			<span asp-validation-for="FormFactor" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="RAMSlots"></label>
			<input asp-for="RAMSlots" disabled />
			<span asp-validation-for="RAMSlots" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<input asp-for="Price" disabled />
			<label asp-for="Price"></label>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AmountInStock"></label>
			<input asp-for="AmountInStock" disabled />
			<span asp-validation-for="AmountInStock" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
		<a asp-controller="Parts" asp-action="PartsIndex" class="btn btn-secondary" style="width:150px">
			Back to Catalogue
		</a>
	</div>

</form>